body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #283136;
	background-color: #fff;
}

/* Utils */

.container {
	width: 1160px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
 	margin: -1px;
	font-size: 0;
}

/* // Utils */


.main-header {
	padding-top: 49px;
	background-color: #eeeeee;
}

/* Верхний ряд блока Header */

.main-header .top-section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 18px;
}

.top-section .header-logo {
	width: 160px;
	height: 65px;
}

.main-navigation .main-menu {
	min-width: 440px;
	margin: 0;
	padding: 0;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-menu .main-menu-item {
	list-style: none;
}

.main-menu .main-menu-item a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

.user-block {
	min-width: 115px;
	text-decoration: none;
}

.user-block span {
	margin-left: 26px;
	color: #000;
	text-transform: uppercase;
}

/* // Верхний ряд блока Header */

/* Slider */

.slider {
	position: relative;

	margin: 0;
	padding: 0;

	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 95px;
	margin-left: -30px;
	display: block;
	min-width: 90px;
	height: 19px;
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	position: relative;
	width: 8px;
	height: 8px;
	margin-right: 17px;
	background-color: #fff;
	border: 5px solid #fff;
	border-radius: 50%;
}

.slider-inner {
	margin: 0;
	padding: 0;
	width: 1129px;
	height: 413px;
}

.slide {
	display: none;
	width: 515px;
	height: 266px;
	list-style: none;
}

#slide-1:checked ~ .slider-inner .slide:nth-child(1) {
	display: block;
}

#slide-2:checked ~ .slider-inner .slide:nth-child(2) {
	display: block;
}

#slide-3:checked ~ .slider-inner .slide:nth-child(3) {
	display: block;
}

#slide-1:checked ~ .slider-inner {
	background: transparent url("../img/slide-image-01.png") no-repeat top right;
}

#slide-2:checked ~ .slider-inner {
	background: transparent url("../img/slide-image-02.png") no-repeat top right;
}

#slide-3:checked ~ .slider-inner {
	background: transparent url("../img/slide-image-03.png") no-repeat top right;
}

.slide-content {
	padding-top: 67px;
}

.slide-content .slider-slogan {
	margin: 0;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	color: #000000;
}

.slide-content p {
	margin: 0;
	margin-top: 28px;
	margin-bottom: 42px;
	line-height: 24px;
}

/* // Slider */

/*Advantage list*/
.advantages {
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 1px solid #eeeeee;
}

.advantages-list {
	margin: 0;
	padding: 0;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.advantage-item {
	width: 300px;
	list-style: none;
}

.advantage-image {
	width: 300px;
	height: 146px;
	margin-bottom: 30px;
}

.advantage-image img {
	width: 300px;
	height: 146px;
}

.advantages-title {
	margin: 0;
	margin-bottom: 27px;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	color: #000;
}

.advantage-item p {
	margin: 0;
	margin-bottom: 35px;
}
/* // Advantage list*/

/* Decor*/
.button {
	display: block;
	width: 240px;
	height: 50px;
	padding-top: 19px;
	padding-bottom: 18px;

	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
	box-sizing: border-box;
}

.button-book {
	display: block;
	width: 160px;
	height: 50px;
	padding-top: 19px;
	padding-bottom: 18px;

	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	border-radius: 3px;
	box-sizing: border-box;
}

.button-book-red {
	background-color: #fb565a;
}

.button-book-green {
	background-color: #00ca74;
}

.button-book-yellow {
	background-color: #efc84a;
}

/* // Decor*/