body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	background-color: #fff;
}

/* Utils */

.container {
	width: 1160px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
 	margin: -1px;
	font-size: 0;
}

/* // Utils */


.main-header {
	padding-top: 49px;
	background-color: #eeeeee;
}

/* Верхний ряд блока Header */

.main-header .top-section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 18px;
}

.top-section .header-logo {
	width: 160px;
	height: 65px;
}

.top-section .header-logo:hover {
	opacity: 0.8;
}

.top-section .header-logo:active,
.top-section .header-logo:focus {
	opacity: 0.3;
}

.main-navigation .main-menu {
	min-width: 440px;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: bottom;
}

.main-menu .main-menu-item {
	position: relative;
	
	list-style: none;
}

.main-menu .main-menu-item a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

.main-menu .main-menu-item a:hover {
	color: #fb565a;
}

.main-menu .main-menu-item a:active,
.main-menu .main-menu-item a:focus {
	color: #000;
	opacity: 0.3;
}

.main-menu-item .item-active::after {
	content: "";
	position: absolute;
	
	width: 100%;
	height: 2px;
	background-color: #fb565a;
}

.user-block {
	min-width: 115px;
	padding-top: 20px;
	text-decoration: none;
}

.user-block span {
	margin-left: 26px;
	color: #000;
	text-transform: uppercase;
}

.user-block:hover span {
	color: #fb565a;
}

.user-block:active span,
.user-block:focus span {
	color: rgba(0, 0, 0, .3);
}

.page-name {
	padding-top: 80px;
	padding-bottom: 116px;
}

.page-name h1 {
	font-size: 55px;
	font-weight: 500;
	text-align: center;
	color: #000;
}

/* // Верхний ряд блока Header */

/* Slider */

.slider {
	position: relative;

	margin: 0;
	padding: 0;

	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 95px;
	margin-left: -30px;
	display: block;
	min-width: 90px;
	height: 19px;
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	position: relative;
	width: 8px;
	height: 8px;
	margin-right: 17px;
	background-color: #fff;
	border: 5px solid #fff;
	border-radius: 50%;
}

.slider-inner {
	margin: 0;
	padding: 0;
	width: 1129px;
	height: 413px;
}

.slide {
	display: none;
	width: 515px;
	height: 266px;
	list-style: none;
}

#slide-1:checked ~ .slider-inner .slide:nth-child(1) {
	display: block;
}

#slide-2:checked ~ .slider-inner .slide:nth-child(2) {
	display: block;
}

#slide-3:checked ~ .slider-inner .slide:nth-child(3) {
	display: block;
}

#slide-1:checked ~ .slider-inner {
	background: transparent url("../img/slide-image-01.png") no-repeat top right;
}

#slide-2:checked ~ .slider-inner {
	background: transparent url("../img/slide-image-02.png") no-repeat top right;
}

#slide-3:checked ~ .slider-inner {
	background: transparent url("../img/slide-image-03.png") no-repeat top right;
}

.slide-content {
	padding-top: 67px;
}

.slide-content .slider-slogan {
	margin: 0;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	color: #000000;
}

.slide-content p {
	margin: 0;
	margin-top: 28px;
	margin-bottom: 42px;
	line-height: 24px;
}

/* // Slider */

/*Advantage list*/
.advantages {
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 1px solid #eeeeee;
}

.advantages-list {
	margin: 0;
	padding: 0;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.advantage-item {
	width: 300px;
	list-style: none;
}

.advantage-image {
	width: 300px;
	height: 146px;
	margin-bottom: 30px;
}

.advantage-image img {
	width: 300px;
	height: 146px;
}

.advantages-title {
	margin: 0;
	margin-bottom: 27px;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	color: #000;
}

.advantage-item p {
	margin: 0;
	margin-bottom: 35px;
}
/* // Advantage list*/

/* Company information */
.company-info {
	padding-top: 80px;
	padding-bottom: 76px;
	border-bottom: 1px solid #eeeeee;
}

.nerds-information {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.information-block {
	width: 650px;
	min-height: 370px;
}

.company-info-slogan {
	margin: 0;
	margin-bottom: 35px;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	color: #000000;
}

.information-block p {
	margin-bottom: 47px;
}

p.company-info-subtitle {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}

.company-services {
	margin: 0;
	padding: 0;
}

.company-services li {
	position: relative;
	
	margin-bottom: 35px;
	padding-left: 38px;
	list-style: none;
}

.company-services li:last-child {
	margin-bottom: 0;
}

.company-services li::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 10px;
	width: 25px;
	height: 2px;
	background-color: #fb575b;
}

.company-counts {
	width: 360px;
}

.nerds-illustration {
	width: 360px;
	height: 208px;
	margin-top: -40px;
	margin-bottom: 41px;
}

.nerds-illustration img {
	width: 360px;
	height: 208px;
}

.company-counts p.company-info-subtitle {
	margin-bottom: 49px;
	text-align: center;
}

.company-counts table {
	width: 100%;
	border-collapse: collapse;
}

.company-counts table tr:first-child {
	font-size: 45px;
	font-weight: 700;
	color: #000000;
}

.company-counts table th {
	width: 105px;
	padding-bottom: 27px;
	text-align: left;
}

.company-counts table td {
	width: 105px;
}

/* // Company information */

/* Company projects */

.our-projects {
	padding-top: 46px;
	padding-bottom: 44px;
	border-bottom: 1px solid #eeeeee;
}

.projects-list {
	margin: 0;
	padding: 0;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.project-list-item {
	position: relative;
	width: 300px;
	height: 90px;
	padding-right: 44px;
	padding-left: 44px;
	list-style: none;	
	text-align: center;	
	box-sizing: border-box;
}

.project-list-item::after {
	position: absolute;
	top: 10px;
	right: 0;
	content: '';
	display: block;
	width: 2px;
	height: 52px;
	background-color: #eee;
}

.project-list-item:last-child::after {
	display: none;
}

.project-list-item a img {
	opacity: 0.2;
}

.project-list-item a:hover img {
	opacity: 1;
}

.project-list-item a:active img,
.project-list-item a:focus img {
	opacity: .1;
}

/* // Company projects */

/* Catalog Filter*/

.filter {
	width: 260px;
	padding-top: 63px;
	padding-bottom: 60px;
}

.filter fieldset {
	margin-bottom: 50px;
	border: none;
}

.filter legend {
	margin-bottom: 22px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.filter legend.legend-price {
	margin-bottom: 56px;
}

/* Filter */
.range-filter {
	margin-bottom: 12px;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 15px;
  	padding-top: 39px;
 	padding-right: 20px;
  	padding-left: 20px;
  	background-color: #eeeeee;
  	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
  	left: 10px;
}

.range-controls .toggle-max {
  	left: 150px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 50%;
	font-size: 16px;
	text-transform: uppercase;
}

.price-controls input {
	width: 80px;
	padding: 8px 10px;
	font-size: 16px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background: #eeeeee;
	box-sizing: border-box;
}

.max-price {
  	text-align: right;
}

/* Radio Buttons */
.grid-option {
	margin: 0;
	padding: 0;
}

.grid-option-item {
	position: relative;
	margin-bottom: 20px;
	padding-left: 35px;
	list-style: none;
}

.grid-option-item label::before {
	position: absolute;
	left: 0;
	display: block;
	content: "";
	width: 17px;
	height: 17px;
	border: 4px solid #4d4d4d;
	opacity: .3;
	border-radius: 50%;
}

.filter-input-radio:checked + label::after {
	position: absolute;
	left: 8px;
	top: 8px;
	content: "";
	display: block;
	width: 9px;
	height: 9px;
	background-color: #4d4d4d;
	border-radius: 50%;
	opacity: .3;
}

/* // Radio Buttons */

/* // Catalog Filter*/


/* Footer */

/* Footer Contacts*/
.footer-contacts {
	padding-top: 80px;
	position: relative;
}

.footer-contacts iframe {
}

.company-contacts {
	position: absolute;
	top: 134px;
	left: 140px;

	width: 319px;
	height: 308px;
	padding-top: 54px;
	padding-left: 50px;
	padding-bottom: 47px;
	padding-right: 50px;
	background-color: #fff;

	box-sizing: border-box;
}

.company-contacts h3.company-contacts-title {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	color: #000;
}

.company-contacts p {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.company-contacts p:last-child {
	margin-bottom: 37px;
}
/* // Footer Contacts*/

/* Footer social media*/
.footer-social {
	padding-top: 70px;
	padding-bottom: 70px;
}

.footer-social .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer-social-media {
	width: 260px;
	height: 80px;
}

.social-buttons {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.social-buttons .social-button {
	display: inline-block;
	margin-right: 11px;
	list-style: none;
	vertical-align: middle;
}

.social-buttons .social-button:last-child {
	margin-right: 0;
}

.social-buttons .social-button a {
	position: relative;
	display: block;
	width: 79px;
	height: 79px;
	background-color: #e1e1e1;
	text-decoration: none;
	border-radius: 50%;
	cursor: pointer;
}

.social-buttons .social-button a:hover {
	background-color: #e74246;
}

.social-buttons .social-button a:active,
.social-buttons .social-button a:focus {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.social-buttons .social-button a:active svg,
.social-buttons .social-button a:focus svg {
	opacity: .3;
}

.social-buttons a svg {
	position: absolute;
}

.social-buttons a .button-vk {
	top: 45%;
	left: 35%;
}

.social-buttons a .button-fb {
	top: 40%;
	left: 43%;
}

.social-buttons a .button-insta {
	top: 40%;
	left: 39%;
}

.footer-promo {
	width: 545px;
	min-height: 65px;
}

.footer-promo-slogan {
	margin: 0;
	margin-bottom: 12px;
	padding: 0;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	color: #000;
}

.footer-promo p {
	color: #444;
}
/* // Footer social media*/

/* // Footer*/

/* Decor*/
.button {
	display: block;
	width: 240px;
	height: 50px;
	padding-top: 19px;
	padding-bottom: 18px;

	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
	box-sizing: border-box;
	cursor: pointer;
}

.button:hover {
	background-color: #e74246;
}

.button:active,
.button:focus {
	color: rgba(255, 255, 255, .3);
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-book {
	display: block;
	width: 160px;
	height: 50px;
	padding-top: 19px;
	padding-bottom: 18px;

	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	border-radius: 3px;
	box-sizing: border-box;
}

.button-book-red {
	background-color: #fb565a;
}

.button-book-red:hover {
	background-color: #e74246;
}

.button-book-red:active,
.button-book-red:focus {
	color: rgba(255, 255, 255, .3);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.button-book-green {
	background-color: #00ca74;
}

.button-book-green:hover {
	background-color: #00bc6c;
}

.button-book-green:active,
.button-book-green:focus {
	color: rgba(255, 255, 255, .3);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #00aa62;
}

.button-book-yellow {
	background-color: #efc84a;
}

.button-book-yellow:hover {
	background-color: #eab534;
}

.button-book-yellow:active,
.button-book-yellow:focus {
	color: rgba(255, 255, 255, .3);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #e5a722;
}

.button--write-us {
	width: 219px;
}

.button-send {
	border: none;
	outline: none;
}

/* // Decor*/

/* Modal */

.modal {
	display: none;
	position: relative;
	box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-write-us {
	position: absolute;
	top: 50%;
	left: 15%;
	width: 960px;
	min-height: 590px;
	padding-top: 73px;
	padding-bottom: 84px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #fff;
	box-sizing: border-box;
	z-index: 10000;
}

.form-content {
	font-size: 0;
}

.form-content p {
	display: inline-block;
	margin: 0;
	margin-right: 40px;
	margin-bottom: 36px;
}

.form-content p:nth-child(2) {
	margin-right: 0;
}

.form-content label {
	display: block;
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	color: #000000;
}

.modal h2.write-us-title {
	margin: 0;
	padding: 0;
	margin-bottom: 49px;
	padding: 0;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	color: #000;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"] {
	width: 360px;
	height: 50px;

	padding-top: 18px;
	padding-bottom: 19px;
	padding-left: 19px;
	padding-right: 19px;
	
	font-size: 16px;
	line-height: 1;
	opacity: 0.5;
	color: #444444;

	background-color: transparent;
	border: 2px solid #d7dcde;
	border-radius: 3px;
	box-sizing: border-box;
}

.modal-write-us textarea {
	width: 760px;
	height: 118px;
	margin-bottom: 47px;
	padding: 15px;
	padding-top: 14px;

	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #444444;
	opacity: 0.5;
	
	border: 2px solid #d7dcde;
	border-radius: 3px;
}

.modal-close {
	position: absolute;
	top: 78px;
	right: 90px;
	font-size: 0;
	border: none;
	opacity: 0.3;
	background-color: transparent;
}

/* // Modal */